<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>vue-dat-gui</title>
  <style>
    h1 {
      text-align: center;
      border:1px solid white;
    }

    table {
      margin: auto;
      width: 50%;
    }

    table {
      border-collapse: collapse;
      margin: 0 auto;
      text-align: center;
    }

    table td,
    table th {
      border: 1px solid #cad9ea;
      color: #666;
      height: 30px;
    }

    table thead th {
      background-color: #CCE8EB;
      width: 100px;
    }

    table tr:nth-child(odd) {
      background: #fff;
    }

    table tr:nth-child(even) {
      background: #F5FAFA;
    }

    .upperCase{
      text-transform:uppercase;
    }
  </style>
</head>

<body>
  <div id="app"></div>
  <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
  <script src="./dist/vuedatgui.js"></script>
  <script type='x-template' id='demo'>
  <div>
  <h1 :class="{'upperCase':show}" :style="{color:color1,'background-color':color2,'margin':num+'px'}">{{stringTxt}}</h1>
  <table>
    <tr>
      <th>label</th>
      <th>value</th>
    </tr>
    <tr>
      <td>button</td>
      <td><input type="text" v-model="consoleTxt" /></td>
    </tr>
    <tr>
      <td>string</td>
      <td><input type="text" v-model="stringTxt" /></td>
    </tr>
    <tr>
      <td>number</td>
      <td><input type="number" inputmode="number" :max="max" :min="min" :step="step" v-model="num" /></td>
    </tr>
    <tr>
      <td>color1</td>
      <td><input type="text" :value="color1" /></td>
    </tr>
    <tr>
      <td>color2</td>
      <td><input type="text" :value="color2" /></td>
    </tr>
    <tr>
      <td>color3</td>
      <td><input type="text" :value="color3" /></td>
    </tr>
    <tr>
      <td>color4</td>
      <td><input type="text" :value="color4String" /></td>
    </tr>
    <tr>
      <td>checkbox</td>
      <td><input type="checkbox" v-model="show" /></td>
    </tr>
    <tr>
      <td>select</td>
      <td>
        <select v-model="selected">
          <option v-for="(val,index) in items" :key="index" :value="val">{{val}}</option>
        </select>
      </td>
    </tr>
  </table>
  <dat-gui closeText="Close" openText="OpenControl">
    <dat-button @click="func">button1</dat-button>
    <dat-string v-model="stringTxt">string</dat-string>
    <dat-number :max="max" :min="min" :step="step" v-model="num">number</dat-number>
    <dat-folder title="color-folder">
      <dat-color v-model="color1">color1</dat-color>
      <dat-color v-model="color2">color2</dat-color>
      <dat-color v-model="color3">color3</dat-color>
      <dat-color v-model="color4">color4</dat-color>
    </dat-folder>
    <dat-folder title="another-folder" closed>
      <dat-boolean v-model="show">checkbox test1</dat-boolean>
      <dat-select v-model="selected" :items="items">list2</dat-select>
      <dat-folder title="child-folder">
      <dat-button @click="func">button2</dat-button>
      <dat-string v-model="stringTxt">string2</dat-string>
      <dat-number :max="max" :min="min" :step="step" v-model="num">number2</dat-number>
      </dat-folder>
    </dat-folder>
    <dat-boolean v-model="show">checkbox test2</dat-boolean>
    <dat-select v-model="selected" :items="items">list3</dat-select>
  </dat-gui>
  </div>
  </script>
  <script>
    Vue.config.devtools = true;//构建版本默认不能使用调试工具
    let vm = new Vue({
      el: '#app',
      template: '#demo',
      data() {
        return {
          stringTxt: "vue-dat-gui",
          show: true,
          num: 12,
          max: 15,
          min: 1,
          step: 3,
          color1: "#ff0",
          color2: "rgb(123,123,216)",
          color3: [0, 128, 255, 0.3],
          color4: { h: 350, s: 0.9, v: 0.3 },
          selected: "2333333",
          items: ["1", "2", "2333333", "1433223"],
          consoleTxt: "clicked"
        };
      },
      computed: {
        color4String() {
          return JSON.stringify(this.color4);
        }
      },
      methods: {
        func() {
          alert(this.consoleTxt);
        }
      }
    })
  </script>
</body>

</html>